body {
    background-repeat: repeat;
    background-image: url('../../assets/images/background.jpg');
    background-size: 40px 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'PT Serif', serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
header h1{
    font-size: 2.5em;
}

header, footer{

    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    margin: auto;
}

header {
    position: relative;
}
#intro{
    padding: 15px;
    background-color: grey;
    color: white;
}

.game{
    max-width: 960px;
    margin: 0 auto;
}

.gem{
    height: 150px;
    background-color: white;
    display: block;
    margin: auto;
}


.crystals {
    width: 200px;
    padding-top: 20px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: white;
    float: left;
}

.scoring {
    width: calc(100% - 270px);
    height: 580px;
    float: right;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
}


footer{
    clear: both;
    position: relative;
    top: 20px;
}

@media only screen and (max-width: 640px){

    .crystals{
        padding: 10px;
        width: auto;
        display: inline-flex;
    }
    .scoring{
        float: left;
        width: auto;
    }
    .gem{
        width: 20%;
        height: 100px;
        float: left;
        padding: 10px;
    }

}


